/* Base styling */

html {
  font: 1rem/1.4 "Wremena", serif;
  font-feature-settings: "lnum" 1;
  height: 100%;
}

h1, h2, h3, p, ul {
  margin: 1rem 0;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

img {
  font-size: 0.75rem;
  max-width: 100%;
}

a {
  color: #00f;
}

/* Image Containers */

.imgbox {
  position: relative;
}

.imgbox-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.imgbox img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Simple layout */

.simple {
  border-bottom: 1rem solid #ccc;
  padding: 1rem 0 4rem;
  max-width: 80rem;
  min-height: calc(100% - 6rem);
  margin: auto;
}

.simple-backlink {
  margin: 0 1.5rem 2rem;
}
.simple-backlink a::before {
  content: "↑";
}

.simple-title {
  margin: 2rem 0 1.5rem;
  font-size: 1.5rem;
  padding: 0 0.75rem;
  border-top: 1px solid #999;
}

.simple-main {
  margin: 0 1.5rem;
}

@media (min-width: 36em) {
  .simple-backlink {
    float: left;
    padding: 0.75rem 1.25rem 1rem 0.75rem;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    margin: 0 1rem 1rem;
  }

  .simple-title {
    margin: 1rem 1rem 2rem;
    padding: 0 0.5rem;
    /* trigger block formatting context; stops it from flowing past backlink */
    overflow: hidden;
  }
  .simple-main {
    margin: 0 2rem;
  }
}

@media (min-width: 50em) {
  .simple-backlink {
    margin: 0 2rem 1rem;
    padding: 1.25rem 2.25rem 1.5rem 1.75rem;
  }

  .simple-title {
    margin: 2rem 2rem 2rem;
    padding: 0 0.5rem;
  }
  .simple-main {
    margin: 0 4rem;
  }
}

/* Single layout */

.single {
  position: relative;
  height: 100%;
  max-width: 90rem;
  max-height: 60rem;
  margin: auto;
  overflow: visible;
}

.single-main {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8rem;
  padding: 2rem 0;
}

.single-main--small {
  padding: 4rem 2rem;
}

.single-main-inner {
  height: 100%;
  margin: auto;
}

.single-header {
  position: absolute;
  box-sizing: border-box;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0;
  height: 7rem;
  padding: 0 0.5rem 0.5rem;
  max-width: 22rem;
  margin: 0 auto;
  border-top: 1px solid #999;
}

.single-desc {
  padding: 0 0 1rem;
}

.single-desc-title {
  display: inline;
  margin: 0;
  font-size: inherit;
  font-weight: bold;
}

.single-desc-caption {
  display: inline;
  margin: 0;
}

.single-desc-title + .single-desc-caption::before {
  content: "·";
  margin: 0 0.5em 0 0.25em;
}

.single-nav {
  padding: 0.375rem 0 0;
  margin-bottom: 1rem;
}

.single-nav::after {
  content: "";
  display: table;
  clear: both;
}

.single-nav-index {
  margin: 0;
  float: left;
}

.single-nav-index a::before {
  content: "↑";
}

.single-nav-pag {
  float: right;
}

.single-nav-pag-next {
  display: inline;
  margin: 0;
}
.single-nav-pag-next a::before {
  content: "→";
}

.single-nav-pag-prev {
  display: inline;
  margin: 0;
}
.single-nav-pag-prev a::before {
  content: "←";
}

.single-nav-pag-prev + .single-nav-pag-next::before {
  content: "·";
  color: #00f;
  padding: 0 0.625em;
}

@media (min-width: 30em) {
  .single-main {
    padding: 1rem;
  }
  .single-main--small {
    padding: 3rem;
  }
}

@media (min-width: 36em) {
  .single-header {
    left: auto;
    width: 22rem;
    height: 6rem;
    margin: 0 0 1rem;
    border-left: 1px solid #999;
  }
  .single-desc,
  .single-nav {
    padding-left: 0.5rem;
    padding-right: 1rem;
  }
}

@media (min-width: 60em) {
  .single {
    max-height: 50rem;
  }

  .single-main {
    right: 16rem;
    bottom: 0;
  }

  .single-header {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    width: 16rem;
    margin: 0;
    padding: 1rem 3rem 3rem 3rem;
    border: none;
  }

  .single-desc {
    position: absolute;
    width: 10rem;
    top: auto;
    padding: 0;
    bottom: 3rem;
  }

  .single-nav {
    padding-top: 0.375rem;
    padding-left: 1.375rem;
    padding-bottom: 0.625rem;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
  }

  .single-nav-index {
    margin: 0 0 1rem;
    float: none;
  }

  .single-nav-pag {
    float: none;
    display: table;
  }
}

/* Index layout */

.index {
  border-bottom: 1rem solid #ccc;
  padding: 1rem 0 4rem;
  margin: auto;
  max-width: 80rem;
  min-height: calc(100% - 6rem);
}

.index-header {
  margin-left: 1.5rem;
  width: 16rem;
}
.index-about {
  margin: 0 auto 1rem;
}
.index-linklist {
  padding-left: 1.5rem;
}

.index-galleryheader {
  margin: 3rem 0.5rem 2rem;
  padding: 0 0.25rem;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  border-top: 1px solid #999;
}
.index-gallery {
  margin: -1.5rem 0;
  padding: 0 1.5rem;
  line-height: 0;
  text-align: center;
}
.index-gallery-item {
  box-sizing: content-box;
  display: inline-block;
  margin: 1.75rem;
  width: 12.5rem;
  vertical-align: middle;
  text-align: middle;
}
.index-gallery-item--small {
  margin: 2.75rem;
  width: 10.5rem;
}
.index-gallery-item img {
  border: 1px solid #ccc;
}
.index-gallery-item img:hover {
  border-color: #00f;
}

@media (min-width: 36em) {
  .index::after {
    content: "";
    display: block;
    clear: both;
  }
  .index-header {
    float: left;
    padding-right: 1rem;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    margin: 0 1rem 1rem;
  }
  .index-linklist {
    padding-left: 1rem;
  }

  .index-main {
    padding: 1rem 0.5rem 0;
  }
  .index-galleryheader {
    margin: 3rem 0.5rem 2rem;
    padding: 0 0.5rem;
    /* trigger block formatting context; stops it from flowing past header */
    overflow: hidden;
  }
  .index-galleryheader:first-child {
    margin-top: 0;
  }
  .index-gallery {
    padding: 0;
  }
  .index-gallery-item {
    margin: 2rem 1.75rem;
  }
}

@media (min-width: 50em) {
  .index-header {
    margin: 0 2rem 1rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
  }

  .index-main {
    padding: 2rem 1.5rem 0;
  }
  .index-galleryheader {
    margin: 5rem 0.5rem 3.5rem;
  }
  .index-gallery-item {
    width: 15rem;
    margin: 3rem 2rem;
  }
}

/* Utility classes */

.srt {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
