---
---
@charset "utf-8";


/* styling variables */

$base-font-family: Times, "Times New Roman", serif;
$base-font-weight: 400;

$base-font-size: 12pt;
$site-infra-font-size: 1rem * (4/3);
$site-footer-font-size: 1rem; // * (7/6);

$bg-color: white;
$font-color: black;
$link-color: blue;
$footer-bg-color: #bbb;
$footer-font-color: white;
$footer-hover-color: #ddf;


/* layout variables */

/* gutters on the side of the site */
$site-gutter: 0.625rem; // 10px
$site-gutter-xl: $site-gutter * 2;

/* gutter separating main from footer and nav */
$footer-gutter: $site-gutter * 4;
$footer-gutter-xl: $site-gutter * 16;

/* gutter separating content in desktop format */
$main-gutter: $site-gutter * 6;

$max-width-main: 75rem;
$width-side: 7.5rem;
$max-width: $max-width-main + 2 * $width-side;


/* breakpoints */

/* increase gutter sizing */
$bp-width: 40rem;

/* switch to positioning for desktop format */
$bp-position: 55rem;


/* imports */

@import
        "util",
        "base",
        "layout",
        "width"
;
