/* Base */

html,
.pure-g [class *= "pure-u"] {
  font-family: 'Karla', sans-serif;
}
html {
  font-size: 12pt;
}

body {
  background-color: white;
  color: #0022ee;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

hr {
  border-style: none;
  border-top: 1px solid #0022ee;
}

a,
a:visited,
a:hover,
a:active {
  color: #ff88cc;
  text-decoration: none;
}


/* skins */

.centered {
  text-align: center;
}

.big-text {
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .big-text { font-size: 2rem; }
}

.menu-bar {
  text-align: center;
  border-style: solid none;
  border-width: 1px 0;
  padding: 1rem 0;
}

.text-block {
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
}


/* local resets */

.color-reset {
  color: #0022ee;
}


/* modules */

.grid-list {
  margin: 0;
  padding-left: 0;
}
.grid-list-el {
  display: inline-block;
}


/* Layout */

.outer-container {
  margin: 0 5%;
  width: 90%;
}

.inner-container {
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
}

.big-sec {
  margin: 2rem auto;
}

.medium-sec {
  margin: 1.5rem auto;
}

.small-sec {
  margin: 1.17rem auto;
}

@media (min-width: 568px) {
  .big-sec { margin: 3rem auto; }
  .medium-sec { margin: 2.25rem auto; }
  .small-sec { margin: 1.5rem auto; }
}

@media (min-width: 768px) {
  .big-sec { margin: 4rem auto; }
  .medium-sec { margin: 3rem auto; }
  .small-sec { margin: 2rem auto; }
}

.lt-sm-bottom-margin {
  margin-bottom: 0.5rem;
}

@media (min-width: 568px) {
  .lt-sm-bottom-margin { margin-bottom: 0; }
}

.bottom {
  width: 100%;
  height: 2rem;
  background-color: #0022ee;
}
