<header class="site-header collapsed">

<h1 class="site-title">
  <a href="/">Paul</a>
  {% comment %}
  <span class="site-header-toggle" id="site-header-toggle">1</span>
  {% endcomment %}
  <a href="/">Peng</a>
</h1>


<nav class="site-nav">

{% comment %}
  <h1 hidden>Work</h1>
  <div class="site-nav-section">
    <ul class="flat-list">
      <li>2016 2</li>
      <li>2016 1</li>
      <li>2015</li>
    </ul>
  </div>

  <h1 hidden>Info</h1>
  <div class="site-nav-section {% comment %}text-align-right{% endcomment %}">
    <ul class="flat-list">
      <li><a href="/#about">About</a></li>
      <li><a href="/#cv">CV</a></li>
    </ul>
  </div>
{% endcomment %}

</nav>

</header>

<script src="/js/site-header-toggle.js"></script>
