/* Site styling */

html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $font-color;
  background: $bg-color;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: $link-color;
}

.infra-style {
  background: $bg-color;
  font-size: $site-infra-font-size;
  font-style: italic;
}
.infra-style a {
  color: $font-color;
}
.infra-style a:hover {
  color: $link-color;
}

/* Footer toggle */

@media (min-width: $bp-position) {
  #footerToggle {
    display: none;
  }
}
