/* Site styling */

html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $font-color;
  background: $bg-color;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: $link-color;
}

.site-infra {
  font-size: $site-infra-font-size;
  font-style: italic;
}
.site-infra a {
  color: $font-color;
}
.site-infra a:hover {
  color: $link-color;
}
