/* Spacing */

@mixin base-spacing($padding: 0, $margin: 0, $direction: row) {
  box-sizing: border-box;
  width: 100%;

  margin: $margin;
  padding: $padding;

  display: flex;
  flex-direction: $direction;
  flex-wrap: wrap;
  align-items: flex-start;
}

@mixin spacing($small-gutter, $large-gutter, $bottom-gutter) {
  .infra-spacing {
    @include base-spacing(
      $padding: $small-gutter,
      $margin: auto
    );
    justify-content: space-between;
    max-width: $max-width;
  }

  $infra-height: $small-gutter * 2 + $site-infra-font-size * $base-line-height;

  .main-spacing {
    // NOTE: not quite sure how to decouple spacing and positioning from main.
    // the top-padding relies on the positioning of the infra elements
    @include base-spacing(
      $padding: $infra-height $small-gutter ($bottom-gutter - $large-gutter + $infra-height),
      $direction: column
    );
    overflow-x: hidden; // to account for row-spacing overflowing
    max-width: $max-width-main;
  }

  .row-spacing {
    @include base-spacing(
      $margin: 0 (-$large-gutter / 2)
    );
    // to account for negative margins making content width >%100 percent
    width: #{"calc(100% +"} $large-gutter #{")"};
  }

  .item-spacing {
    box-sizing: border-box;
    padding: 0 ($large-gutter / 2) $large-gutter;
  }

}

.footer-spacing {
  @include base-spacing(
    $padding: ($site-gutter / 2),
    $direction: column
  );
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  max-width: $max-width-main;
  margin: auto;
  overflow-x: scroll;
}

.footer-item-spacing {
  margin: ($site-gutter / 2) ($site-gutter / 2);
}

@include spacing($site-gutter, $site-gutter, $footer-gutter);

@media (min-width: $bp-position) {
  @include spacing($site-gutter-xl, $main-gutter, $footer-gutter-xl);

  // NOTE: not quite sure how to decouple spacing and positioning from main.
  // most of the stuff here can fall under one or the other...
  .main-spacing {
    padding-top: $site-gutter-xl;
    // for side spacing vvv
    width: #{"calc(100% -"} 2 * $width-side #{")"};
    margin: auto;
  }

  .footer-spacing {
    flex-direction: row;
    width: #{"calc(100% -"} 2 * $width-side #{")"};
  }

}


/* Positioning */

%infra-position {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  z-index: 3;
  width: 100%;
}

.header-position {
  @extend %infra-position;
  top: 0;
}

.nav-position {
  @extend %infra-position;
  bottom: 0;
}

.main-position {
  position: relative;
  z-index: 2;
}

.footer-position {
  @extend %infra-position;
  bottom: $site-infra-font-size + 2 * $site-gutter;
  max-height: #{"calc(100% -"} ($site-infra-font-size + 2 * $site-gutter) #{")"};
  overflow: scroll;
}

@media (min-width: $bp-position) {
  .header-position, .nav-position {
    z-index: 1;
  }

  .nav-position {
    bottom: $site-footer-font-size + 2 * $site-gutter;
  }

  .footer-position {
    bottom: 0;
  }
}

/* collapsed */

.collapsed {
  height: 0;
}

@media (min-width: $bp-position) {
  .collapsed {
    height: auto;
  }
}
