/* layout of main content */


.main {
  @extend %layout-section-max-width;

  padding: $site-header-collapsed-height $site-gutter;

  @media (min-width: $breakpt-spacing) {
    padding: $site-header-collapsed-height $site-gutter-lg;
  }

  @media (min-width: $breakpt-header) {
    max-width: $max-width;
    margin: auto;
    padding: $site-gutter-lg ($site-nav-section-width + $site-gutter-lg) ($site-nav-section-width + $site-gutter-lg);
  }
}

.main h1 {
  margin-bottom: $h-spacing;
  @media (min-width: $breakpt-spacing) {
    margin-bottom: $h-spacing-lg;
  }
}


.main-section {
  @extend %layout-section;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;

  position: relative;
  z-index: 2;
  margin-bottom: $main-section-gutter;

  @media (min-width: $breakpt-spacing) {
    margin-bottom: $main-section-gutter-lg;
  }
}

@mixin main-section-fixed-height($height-to-vpw-ratio) {
  @extend .main-section;

  align-items: center;

  height: 100vw * $height-to-vpw-ratio;

  @media (min-width: $max-width) {
    height: $max-width * $main-section-min-height-to-vpw;
  }
}

.main-section-height-67vw {
  @include main-section-fixed-height(2/3);
}

.main-section-height-50vw {
  @include main-section-fixed-height(1/2);
}


.main-subsection {
  margin-bottom: $main-subsection-spacing;
  @media (min-width: $breakpt-spacing) {
    margin-bottom: $main-subsection-spacing-lg;
  }
}
