/* No Margins */

.no-margins {
  margin: 0;
}


/* Aligns */

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}


/* Flat Lists */

.flat-list {
  padding-left: 0;
}
.flat-list > li {
  display: block;
}
