/* No Margins */

.no-margins {
  margin: 0;
}


/* Aligns */

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

/* Floats */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Clearfix */

.container::before,
.container::after {
  content: "";
  display: table;
}
.container::after {
  clear: both;
}
.container {
  zoom: 1;
}


/* Flat Lists */

.flat-list {
  padding-left: 0;
}
.flat-list > li {
  display: block;
}
