.width-67 {
  width: 100% * (2/3);
}
.width-62 {
  width: 100% * (2/3) - 5;
}

.width-50 {
  width: 50%;
}
.width-45 {
  width: 45%;
}

.width-33 {
  width: 100% * (1/3);
}
.width-28 {
  width: 100% * (1/3) - 5;
}

@media (min-width: $breakpt-spacing) {
  .width-67-lg {
    width: 100% * (2/3);
  }
  .width-62-lg {
    width: 100% * (2/3) - 5;
  }

  .width-50-lg {
    width: 50%;
  }
  .width-45-lg {
    width: 45%;
  }

  .width-33-lg {
    width: 100% * (1/3);
  }
  .width-28-lg {
    width: 100% * (1/3) - 5;
  }
}


/* No Margin */

@media (min-width: $breakpt-spacing) {
  .no-margin-lg {
    margin: 0;
  }
}
