<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title and page.isInfoPage %}{{ page.title | escape }} &mdash; {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% comment %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% endcomment %}
</head>


<body>

<div class="header-position">
  <h1 class="infra-style infra-spacing">
    <a href="/">Paul</a>
    <a href="/">Peng</a>
  </h1>
</div>

<main class="main-spacing main-position">
  {{ content }}
</main>

{% if site.posts.size > 0 %}

{% if page.isIndex %}
  {% assign nextPageUrl = site.posts.last.url %}
{% elsif page.next %}
  {% assign nextPageUrl = page.next.url %}
{% else %}
  {% assign nextPageUrl = "/" %}
{% endif %}

{% if page.isIndex %}
  {% assign prevPageUrl = site.posts.first.url %}
{% elsif page.previous %}
  {% assign prevPageUrl = page.previous.url %}
{% else %}
  {% assign prevPageUrl = "/" %}
{% endif %}

{% else %}

{% assign nextPageUrl = "/" %}
{% assign prevPageUrl = "/" %}

{% endif %}

<div class="nav-position">
  <nav class="infra-style infra-spacing">
    <div><a href="{{ nextPageUrl }}">&larr;</a></div>
    <div id="footerToggle">{% include dots-vertical.svg %}</div>
    <div><a href="{{ prevPageUrl }}">&rarr;</a></div>
  </nav>
</div>

<footer id="siteFooter" class="footer-position footer-style collapsed">
  <div class="footer-spacing">
    {% for infoPage in site.pages %}
    {% if infoPage.isInfoPage %}
    <a class="footer-item-spacing" href="{{ infoPage.url }}">{{ infoPage.title }}</a>
    {% endif %}
    {% endfor %}
    {% if site.pages.size > 0 and site.social_media.size > 0 %}
    <div class="footer-item-spacing">&mdash;</div>
    {% endif %}
    {% for socialMedia in site.social_media %}
    <a class="footer-item-spacing" href="{{ socialMedia.url }}" target="_blank">{{ socialMedia.name }}</a>
    {% endfor %}
  </div>
</footer>

<script src="/js/site-footer-toggle.js"></script>

</body>

</html>
