<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title and page.isInfoPage %}{{ page.title | escape }} &mdash; {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% comment %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% endcomment %}
</head>


<body>

<div class="header-position">
  <h1 class="infra-style infra-spacing">
    <a href="/">Paul</a>
    <a href="/">Peng</a>
  </h1>
</div>

<main class="main-spacing main-position">
  {{ content }}
</main>

{% if site.posts.size > 0 %}

{% if page.isIndex %}
  {% assign nextPageUrl = site.posts.last.url %}
{% elsif page.next %}
  {% assign nextPageUrl = page.next.url %}
{% else %}
  {% assign nextPageUrl = "/" %}
{% endif %}

{% if page.isIndex %}
  {% assign prevPageUrl = site.posts.first.url %}
{% elsif page.previous %}
  {% assign prevPageUrl = page.previous.url %}
{% else %}
  {% assign prevPageUrl = "/" %}
{% endif %}

{% endif %}

<div class="nav-position">
  <nav class="infra-style infra-spacing">
    {% if site.posts.size > 0 %}
      <div><a href="{{ nextPageUrl }}">&larr;</a></div>
    {% endif %}
    {% if site.posts.size > 0 %}
      <div><a href="{{ prevPageUrl }}">&rarr;</a></div>
    {% endif %}
  </nav>
</div>

</body>

</html>
